.desktop {
  display: block;
}
.tablet {
  display: none;
}
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media(max-width: 375px){
    .desktop {
        display: none;
      }
      .tablet {
        display: none;
      }
      .mobile {
        display: block;
      }
}
